.about {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
