.content-section {
    width: 1440px;
    margin: 0 auto;
    min-height: 100px;
    background-color: #969191;
}


.header {    
    padding: 92px 49px 92px 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    
}

.header__menu {
    margin: 43px 0;
    width: 388px;
    height: 23px;
}

.header__menu-list {
    width: 388px;
    height: 23px;
    display: flex;
    row-gap: 32px;
    justify-content: space-between;
    align-content: center;
    list-style: circle;
}

.header__menu-item:first-child {
    list-style: none;
}

.header__menu-item_active {
    text-decoration: underline;
}

.header__logo {
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__logo-image {
    height: 100%;    
}

.address {
    justify-self: end;
    width: 240px;
    height: 97px;
    font-style: normal;
    line-height: 24.3px;
}